
        .avatar-stack {
            display: grid;
            grid-template-columns: repeat(auto-fill, 45px);
            margin-bottom: 30px;
            padding: 20px;
            min-height: 120px;
            align-items: center;
            background-color: #f8f9fa;
            border-radius: 12px;
        }

        .tile-inner {
            width: 87px; 
            transition: all 0.2s ease-in-out;
            display: none; 
            position: relative;
        }

        .tile-image-area {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 2px solid #cedce8;
            border-radius: 50%;
            background-color: #fff;
        }

        .fa-circle-user {
            font-size: 56px;
        }
